@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: #fa8;

}

.bar {
    width: 100%;
    background-color: #088;
  .navbar{
      width: 90%;
      min-height: 60px;
      display: flex;
    flex-flow: row wrap;
    padding: 5px;
margin-left: 3%; 
justify-content: space-between;
align-items: flex-end;
li{
        list-style-type: none;

     
      a {
          display: block;
          text-decoration: none;
          color: #fa8;
      }
    }
  }

}

.intro{
    width: 100%;
    background-color: #fa8;
    min-height: 838px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    h1{
        text-align: center;
        padding: 40px;
        width: 100%;
        color: #fa8;
        background-color:#854 ;
    }
}

.summary{
    min-height: 150px;
    background-color: #fa8;
    h2{
        margin-left: 3%;
        margin-bottom: 1%;
        color: #ff0;
        font-size: 24px;
    }
    p{
        width: 90%;
        margin-bottom: 1%;
        margin-left: 3%;
        font-size: 16px;
        color: #eee;
    }
}

.photos{
    
    width: 100%;
    min-height: 320px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    .img-club{
        width: 100%;
        padding: 10px 0 10px 0;
    }
}


.testimonial{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    min-height: 420px;
    background-color: #088;
    color: #ff0;
    h2,p{
        padding: 10px;
        margin-left: 3%;
    }
    h2{
        
        font-size: 50px;
    }
}

.meetup{
    min-height: 790px;
    width: 100%;
    margin: auto;
    text-align: center;
    color: #ff0;
    .meetup-img{
        max-width: 50%;
        height: auto;
        padding: 10px;
    }
    p{
font-size: 30px;
        margin: 1% auto 5% auto;
    }
}

@media screen and (min-width:1048px) {
    
    .photos{
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
        .img-club{

            max-width:314px;
            max-height: 210px;
        }
    }
}